.nav1 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.nav-img1 img {
  width: 20%;
  padding: 30px 0 0 0; }

.ul1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.7em; }
  .ul1 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }
  .ul1 a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em;
    transition: all 5s; }

.seccion-video {
  height: 108vh; }

.video {
  width: 100%; }

.nuevostrajes-principal {
  height: 90vh;
  background: linear-gradient(#111827, #4b5563);
  background-attachment: fixed; }

.caja-trajes {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .caja-trajes__parrafo {
    width: 90%;
    color: #fff;
    padding: 25px 0 0 20px;
    text-align: left;
    font-size: 150%; }
    .caja-trajes__parrafo1 {
      font-size: 250%;
      padding: 0 0 10px 20px; }
    .caja-trajes__parrafo2 {
      font-size: 80%;
      padding: 10px 0 0px 20px; }
  .caja-trajes__img {
    margin: 0 auto;
    align-items: center;
    display: grid; }
    .caja-trajes__img img {
      padding: 25px 0 0 90px;
      width: 75%; }

.ultimanoticia {
  background-color: #403d39; }

.titulonew {
  color: #fff;
  font-size: 350%;
  padding: 20px; }

.box-principal {
  height: 220vh;
  background-color: #403d39; }
  .box-principal__titulo {
    padding: 25px 0 25px 80px;
    color: #fff;
    font-size: 350%; }

.l1 {
  margin: 0 0 50px 0;
  background-color: #0582CA;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.titulo__fecha {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 250%;
  text-align: center;
  align-items: center;
  display: grid; }

.titulo__parrafo {
  width: 90%;
  height: 50%;
  color: #fff;
  text-align: left;
  align-items: center;
  display: grid; }
  .titulo__parrafo1 {
    font-weight: bold; }
  .titulo__parrafo3 {
    font-weight: bold; }
  .titulo__parrafo5 {
    font-weight: bold; }

.titulo__img1 img {
  width: 90%;
  padding: 30px 0 0 0; }

.titulo__img2 img {
  width: 90%;
  padding: 80px 0 0 0; }

.titulo__img3 {
  padding: 20px 0 20px 0; }
  .titulo__img3 img {
    width: 90%; }

.galeria {
  height: 150vh; }
  .galeria__titulo {
    font-size: 450%;
    color: #fff;
    padding: 50px 0 50px 0px;
    text-align: center; }

.nasatv {
  height: 190vh;
  background-color: #0582CA; }
  .nasatv__titulo {
    padding: 50px 0 50px 50px;
    color: #fff;
    font-size: 550%;
    font-weight: bold; }
  .nasatv-grid1 {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr; }
  .nasatv-grid2 {
    padding: 0 0 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; }
  .nasatv-grid3 {
    padding: 0 0 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; }

.directo1 {
  padding: 0 0 0 50px; }

.cajanasa a {
  color: #fff;
  text-decoration: none; }

.cajanasa img {
  border-radius: 100px; }

.txtnasa1 {
  padding: 25px 0 20px 0px; }

.bton button {
  color: #fff;
  background-color: #f22b29;
  border: none;
  border-radius: 10px;
  font-size: 160%;
  padding: 0 10px 0 10px; }

.txtnasa2 {
  padding: 20px 0 0 0; }

.nasa-es a {
  color: #fff;
  text-decoration: none; }

.nasa-es img {
  border-radius: 100px; }

.directo1 {
  width: 50%; }

.foot {
  display: flex;
  justify-content: center; }
  .foot div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.7em; }
    .foot div ul li {
      padding: 0.7em;
      display: flex;
      flex-wrap: wrap; }
    .foot div ul a {
      text-decoration: none; }

@media screen and (max-width: 375px) {
  .nav1 {
    display: flex;
    flex-direction: column; }
  .nav-img1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 21px 0 0 85px;
    margin: 0 50px 0 0; }
  .ul1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 55px; }
  .seccion-video {
    height: 30vh; }
  .video {
    width: 100%; }
  .nuevostrajes-principal {
    width: 140%;
    height: 180vh;
    background: linear-gradient(#111827, #4b5563);
    background-attachment: fixed; }
  .caja-trajes {
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .caja-trajes__parrafo {
    width: 90%;
    color: #fff;
    padding: 25px 0 0 20px;
    text-align: left;
    font-size: 150%; }
  .caja-trajes__parrafo1 {
    font-size: 150%;
    padding: 0 0 10px 20px; }
  .caja-trajes__parrafo2 {
    font-size: 80%;
    padding: 10px 150px 0px 20px; }
  .caja-trajes__img {
    margin: 0 120px 0 0; }
  .caja-trajes__img img {
    padding: 25px 0 0 0px;
    width: 100%; }
  .box-principal {
    width: 140%;
    height: 380vh;
    background-color: #403d39; }
  .box-principal h1 {
    padding: 25px 0 25px 60px;
    color: #fff;
    font-size: 180%; }
  .l1 {
    margin: 0 0 50px 0;
    background-color: #0582CA;
    display: flex;
    flex-direction: column; }
  .titulo__fecha {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 250%;
    padding: 0 150px 0 0; }
  .titulo__parrafo {
    width: 90%;
    height: 50%;
    color: #fff;
    text-align: left;
    align-items: center;
    display: grid;
    padding: 0 0 0 20px; }
  .titulo__parrafo1 {
    font-weight: bold;
    font-size: 30px; }
  .titulo__parrafo2 {
    padding: 0 100px 0 0; }
  .titulo__parrafo3 {
    font-weight: bold;
    font-size: 20px;
    padding: 0 95px 0 0; }
  .titulo__parrafo4 {
    padding: 0 150px 0 0; }
  .titulo__parrafo5 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 80px 0 0; }
  .titulo__parrafo6 {
    font-size: 20px;
    padding: 0 100px 0 0; }
  .titulo__img1 img {
    width: 100%;
    padding: 30px 0 0 0; }
  .titulo__img2 img {
    width: 100%;
    padding: 80px 0 0 0; }
  .titulo__img3 img {
    width: 75%; }
  .galeria {
    margin: 370px 0 0 0;
    height: 80vh; }
  .nasatv {
    width: 110%;
    font-size: 12px;
    height: 145vh;
    background-color: #0582CA; }
  .directo1 {
    display: none; }
  .directo2 {
    display: none; }
  .directo3 {
    display: none; }
  .directo4 {
    display: none; }
  .directo5 {
    display: none; }
  .nasatv h1 {
    padding: 50px 0 50px 50px;
    color: #fff;
    font-size: 550%;
    font-weight: bold; }
  .nasatv-grid1 {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .directo1 {
    padding: 0 0 0 50px; }
  .cajanasa {
    margin: 0 45px 0 0; }
  .cajanasa a {
    color: #fff;
    text-decoration: none; }
  .txtnasa1 {
    font-size: 30px;
    padding: 25px 0 20px 0px; }
  .bton button {
    color: #fff;
    background-color: #f22b29;
    border: none;
    border-radius: 10px;
    font-size: 160%;
    padding: 0 10px 0 10px; }
  .txtnasa2 {
    font-size: 30px;
    padding: 20px 0 0 0; }
  .nasa-es {
    margin: 50px 30px 0 0; }
  .nasa-es a {
    color: #fff;
    text-decoration: none; }
  .nasatv-grid2 {
    display: flex;
    flex-direction: column; }
  .directo1 {
    width: 50%; }
  .nasatv-grid3 {
    display: flex;
    flex-direction: column; }
  .foot {
    display: flex;
    justify-content: center; }
  .foot div ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7em; }
  .foot div ul li {
    padding: 0.7em;
    display: flex;
    flex-wrap: wrap; }
  .foot div ul a {
    text-decoration: none; } }

.nav2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.nav-img2 img {
  width: 20%;
  padding: 30px 0 0 0; }

.ul2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.7em; }
  .ul2 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }
  .ul2 a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }

.banner-temas {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/temas/Footer2.jpg");
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed; }
  .banner-temas h1 {
    color: #fff;
    text-shadow: 5px 5px 10px #252422;
    padding: 10%;
    font-size: 550%;
    text-align: center; }

.fondo-contenido {
  background-color: #CCC5B9; }

.subnav .todoblog .listas {
  padding: 0.7em;
  display: flex;
  justify-content: flex-start; }
  .subnav .todoblog .listas li {
    list-style: none;
    display: flex;
    padding: 0.7em; }
    .subnav .todoblog .listas li a {
      font-size: 150%;
      text-decoration: none;
      color: #252422; }
    .subnav .todoblog .listas li :hover {
      text-decoration: underline #252422; }

.blog__titulo {
  color: #252422;
  font-size: 215%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 25px 120px; }

.blog {
  height: 85vh; }

.cardgeneral {
  width: 80%;
  padding: 35px 0 0 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.card1 {
  width: 85%;
  height: 50vh;
  background-image: url("../assets/temas/humano_en_espacio.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 5px;
  border-style: double;
  border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card1 p {
    color: #fff;
    font-size: 150%;
    text-align: center;
    padding: 80% 0; }

.card2 {
  width: 85%;
  height: 50vh;
  background-image: url("../assets/temas/marte.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 5px;
  border-style: double;
  border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card2 p {
    color: #fff;
    font-size: 150%;
    text-align: center;
    padding: 80% 0; }

.card3 {
  width: 85%;
  height: 50vh;
  background-image: url("../assets/temas/tierra.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 5px;
  border-style: double;
  border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card3 p {
    color: #fff;
    font-size: 150%;
    text-align: center;
    padding: 80% 0; }

.card4 {
  width: 85%;
  height: 50vh;
  background-image: url("../assets/temas/sistemasolar.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 5px;
  border-style: double;
  border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card4 p {
    color: #fff;
    font-size: 150%;
    text-align: center;
    padding: 80% 0; }

.foot {
  display: flex;
  justify-content: center; }
  .foot div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0; }
    .foot div ul li {
      padding: 0.7em;
      display: flex;
      flex-wrap: wrap; }
    .foot div ul a {
      color: #fff;
      text-decoration: none; }

@media screen and (max-width: 375px) {
  .nav2 {
    display: flex;
    flex-direction: column; }
  .nav-img2 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 21px 0 0 85px;
    margin: 0 50px 0 0; }
  .ul2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 55px; }
  .banner-temas {
    width: 120%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/temas/Footer2.jpg");
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed; }
    .banner-temas h1 {
      color: #fff;
      text-shadow: 5px 5px 10px #252422;
      padding: 100px 60px 0 0;
      font-size: 550%;
      text-align: center; }
  .fondo-contenido {
    width: 120%;
    background-color: #CCC5B9; }
  .subnav .todoblog .listas {
    padding: 0.7em;
    display: flex;
    flex-direction: column;
    text-decoration: underline black; }
    .subnav .todoblog .listas li {
      list-style: none;
      display: flex;
      padding: 0.7em; }
      .subnav .todoblog .listas li a {
        font-size: 150%;
        text-decoration: none;
        color: #252422; }
      .subnav .todoblog .listas li:hover {
        text-decoration: underline #252422; }
  .blog {
    height: 225vh; }
    .blog h1 {
      color: #252422;
      font-size: 215%;
      display: flex;
      justify-content: center;
      padding: 20px 0 25px 0px; }
  .cardgeneral {
    width: 80%;
    padding: 35px 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .card1 {
    width: 85%;
    height: 50vh;
    background-image: url("../assets/temas/humano_en_espacio.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
    border-style: double;
    border-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .card1 p {
      color: #fff;
      font-size: 150%;
      text-align: center;
      padding: 80% 0; }
  .card2 {
    width: 85%;
    height: 50vh;
    background-image: url("../assets/temas/marte.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
    border-style: double;
    border-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .card2 p {
      color: #fff;
      font-size: 150%;
      text-align: center;
      padding: 80% 0; }
  .card3 {
    width: 85%;
    height: 50vh;
    background-image: url("../assets/temas/tierra.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
    border-style: double;
    border-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .card3 p {
      color: #fff;
      font-size: 150%;
      text-align: center;
      padding: 80% 0; }
  .card4 {
    width: 85%;
    height: 50vh;
    background-image: url("../assets/temas/sistemasolar.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
    border-style: double;
    border-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .card4 p {
      color: #fff;
      font-size: 150%;
      text-align: center;
      padding: 80% 0; }
  .foot {
    display: flex;
    justify-content: center; }
    .foot div ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 20px 0 0 0; }
      .foot div ul li {
        padding: 0.7em;
        display: flex;
        flex-wrap: wrap; }
      .foot div ul a {
        color: #fff;
        text-decoration: none; } }

.nav3 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.nav-img3 img {
  width: 20%;
  padding: 20px 0 0 0; }

.ul3 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.7em; }
  .ul3 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }
  .ul3 a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }

.banner-misiones {
  height: 90vh;
  background-image: url("../assets/misiones/banner-misiones.jpg");
  background-attachment: fixed;
  background-position: center; }
  .banner-misiones h1 {
    text-shadow: 5px 5px 10px #252422;
    color: #fff;
    font-size: 400%;
    text-align: center;
    padding: 180px 0 0 0; }

.fondo1 {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/misiones/artemis_naranja.webp");
  background-size: 100%;
  background-position-x: center;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute; }

.fondo1_textobutton1 {
  margin: 260px 0 20px 60px; }

.fondo1_texto1 {
  padding: 0 0 50px 0;
  font-size: 100px;
  color: white; }

.fondo1_button1 {
  font-size: 50px;
  background: transparent;
  padding: 10px 100px;
  border-radius: 10px;
  border-color: white; }
  .fondo1_button1 a {
    text-decoration: none;
    color: white; }

.btn1 {
  width: 5%;
  margin: 20px 0 0 10%;
  padding: 10px 50px 10px 100px;
  border: 2px solid #fff;
  text-align: left;
  font-size: 250%;
  color: #fff; }
  .btn1 a {
    color: #fff;
    text-decoration: none; }

.fondo2 {
  height: 210vh;
  background-image: url("../assets/misiones/hubble_telescope.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.fondo2_textobutton2 {
  margin: 0 0 0 50px; }

.fondo2_texto2 {
  padding: 80% 0 60px 0;
  font-size: 110px;
  color: white; }

.fondo2_button2 {
  font-size: 50px;
  background: transparent;
  padding: 10px 100px;
  border-radius: 10px;
  border-color: white; }
  .fondo2_button2 a {
    text-decoration: none;
    color: white; }

.fondo3_textobutton3 {
  padding: 180px 100px 0 0;
  padding: 180px 100px 0 60px; }

.fondo3_texto3 {
  font-size: 100px;
  color: white;
  padding: 0 0 50px 0;
  font-size: 100px;
  color: white; }

.btn2 {
  width: 5%;
  margin: 20px 0 0 10%;
  padding: 10px 50px 10px 100px;
  border: 2px solid #fff;
  text-align: left;
  font-size: 250%;
  color: #fff; }
  .btn2 a {
    color: #fff;
    text-decoration: none; }

.fondo3 {
  height: 100vh;
  background-image: url("../assets/misiones/jameswebb_telescope.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .fondo3 h1 {
    font-size: 500%;
    padding: 20% 10% 0 5%;
    color: #fff;
    text-align: left; }

.fondo3_button3 {
  font-size: 50px;
  background: transparent;
  padding: 10px 100px;
  border-radius: 10px;
  border-color: white; }
  .fondo3_button3 a {
    text-decoration: none;
    color: white; }

.btn3 {
  width: 5%;
  margin: 20px 0 0 10%;
  padding: 10px 50px 10px 100px;
  border: 2px solid #fff;
  text-align: left;
  font-size: 250%;
  color: #fff; }
  .btn3 a {
    color: #fff;
    text-decoration: none; }

.fondo4 {
  height: 100vh;
  background-image: url("../assets/misiones/parkersolar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .fondo4 h1 {
    font-size: 270%;
    padding: 30% 0% 0 5%;
    color: #fff;
    text-align: left; }

.fondo4_textobutton4 {
  padding: 290px 0 0 50px; }

.fondo4_texto4 {
  font-size: 110px;
  padding: 0 170px 40px 0;
  color: white; }

.fondo4_button4 {
  font-size: 50px;
  background: transparent;
  padding: 10px 100px;
  border-radius: 10px;
  border-color: white; }
  .fondo4_button4 a {
    text-decoration: none;
    color: white; }

.btn4 {
  width: 5%;
  margin: 20px 0 0 10%;
  padding: 10px 50px 10px 75px;
  border: 2px solid #fff;
  text-align: left;
  font-size: 250%;
  color: #fff; }
  .btn4 a {
    color: #fff;
    text-decoration: none; }

.foot {
  display: flex;
  justify-content: center; }
  .foot div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0; }
    .foot div ul li {
      padding: 0.7em;
      display: flex;
      flex-wrap: wrap; }
    .foot div ul a {
      color: #fff;
      text-decoration: none; }

@media screen and (max-width: 450px) {
  .nav3 {
    display: flex;
    flex-direction: column; }
  .nav-img3 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 21px 0 0 85px;
    margin: 0 50px 0 0; }
  .ul3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 55px; }
  .banner-misiones {
    height: 90vh;
    background-image: url("../assets/misiones/banner-misiones.jpg"); }
    .banner-misiones h1 {
      text-shadow: 5px 5px 10px #252422;
      color: #fff;
      font-size: 400%;
      text-align: center;
      padding: 180px 0 0 0; }
  .fondo1 {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/misiones/artemis_naranja.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; }
  .fondo1_textobutton1 {
    margin: 290px 0 20px 20px;
    font-size: 9px; }
  .fondo1_texto1 {
    padding: 0 0 50px 0;
    font-size: 60px;
    color: white; }
  .fondo1_button1 {
    font-size: 50px;
    background: transparent;
    padding: 10px 100px;
    border-radius: 10px;
    border-color: white; }
    .fondo1_button1 a {
      text-decoration: none;
      color: white; }
  .fondo2 {
    height: 210vh;
    background-image: url("../assets/misiones/hubble_telescope.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .fondo2_textobutton2 {
    margin: 0 0 0 50px; }
  .fondo2_texto2 {
    padding: 270% 0 60px 0;
    font-size: 60px;
    color: white; }
  .fondo2_button2 {
    font-size: 50px;
    background: transparent;
    padding: 10px 100px;
    border-radius: 10px;
    border-color: white; }
    .fondo2_button2 a {
      text-decoration: none;
      color: white; }
  .fondo3_textobutton3 {
    padding: 180px 100px 0 0;
    padding: 170px 100px 0 60px; }
  .fondo3_texto3 {
    padding: 0px 0 50px 0;
    font-size: 50px;
    color: white;
    padding: 0 0 50px 0;
    font-size: 50px;
    color: white; }
  .btn2 {
    width: 5%;
    margin: 20px 0 0 10%;
    padding: 10px 50px 10px 100px;
    border: 2px solid #fff;
    text-align: left;
    font-size: 250%;
    color: #fff; }
    .btn2 a {
      color: #fff;
      text-decoration: none; }
  .fondo3 {
    height: 100vh;
    background-image: url("../assets/misiones/jameswebb_telescope.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .fondo3 h1 {
      font-size: 500%;
      padding: 20% 10% 0 5%;
      color: #fff;
      text-align: left; }
  .fondo3_button3 {
    font-size: 50px;
    background: transparent;
    padding: 10px 100px;
    border-radius: 10px;
    border-color: white; }
    .fondo3_button3 a {
      text-decoration: none;
      color: white; }
  .btn3 {
    width: 5%;
    margin: 20px 0 0 10%;
    padding: 10px 50px 10px 100px;
    border: 2px solid #fff;
    text-align: left;
    font-size: 250%;
    color: #fff; }
    .btn3 a {
      color: #fff;
      text-decoration: none; }
  .fondo4 {
    height: 100vh;
    background-image: url("../assets/misiones/parkersolar.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .fondo4_textobutton4 {
    padding: 200px 0 0 50px; }
  .fondo4_texto4 {
    font-size: 70px;
    padding: 0 170px 40px 0;
    color: white; }
  .fondo4_button4 {
    font-size: 50px;
    background: transparent;
    padding: 10px 100px;
    border-radius: 10px;
    border-color: white; }
    .fondo4_button4 a {
      text-decoration: none;
      color: white; } }

.nav4 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.nav4-img img {
  width: 20%;
  padding: 30px 0 0 0; }

.ul4 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.7em; }
  .ul4 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }
  .ul4 a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }

.fondo-galeria {
  height: 120vh;
  background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%); }

.titulo-galeria h1 {
  color: #fff;
  padding: 20px;
  text-align: center; }

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px; }

.foto1 img {
  width: 250px;
  height: 150px;
  opacity: 0.8;
  transition: all 0.5s;
  padding: 5px; }
  .foto1 img:hover {
    opacity: 1;
    transform: scale(1.2); }

@media screen and (max-width: 450px) {
  .fondo-galeria {
    height: 290vh; }
  .nav4 {
    display: flex;
    flex-direction: column; }
  .nav4-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 21px 0 0 85px;
    margin: 0 50px 0 0; }
  .ul4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 55px; } }

/*Acerca De*/
.nav5 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.nav5-img img {
  width: 20%;
  padding: 30px 0 0 0; }

.ul5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.7em; }
  .ul5 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }
  .ul5 a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0.7em; }

.contenedoracerca-de {
  background: linear-gradient(115deg, #d3ffd7 0%, black 100%), radial-gradient(90% 100% at 50% 0%, #c8c8c8 0%, #16002d 100%), radial-gradient(100% 100% at 80% 0%, #faff00 0%, #240000 100%), radial-gradient(150% 210% at 100% 0%, #70ff00 0%, #14af7d 0%, #000aff 100%), radial-gradient(100% 100% at 100% 30%, #ff4d00 0%, #00c8ff 100%), linear-gradient(60deg, red 0%, #7856ff 100%);
  background-blend-mode: overlay, overlay, difference, difference, difference, normal; }

.acerca1 {
  width: 90%;
  margin: 0 auto;
  padding: 5% 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.7em; }

.acercatexto {
  width: 90%;
  text-shadow: 5px 5px 10px #000;
  display: grid;
  color: #fff; }

.acercatexto__titulo1 {
  font-size: 250%;
  padding: 0 0 5% 0; }

.acercatexto__parrafo2 {
  line-height: 150%; }

.acerca-img img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.acerca2 {
  width: 90%;
  margin: 0 auto;
  padding: 10% 0 20% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2.7em; }

.acercatexto2 {
  width: 90%;
  display: grid;
  color: #fff; }

.acercatexto__titulo3 {
  font-size: 250%;
  padding: 0 0 5% 0; }

.acercatexto__parrafo4 {
  line-height: 150%; }

.acerca-img2 img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.foot {
  display: flex;
  justify-content: center; }
  .foot div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0; }
    .foot div ul li {
      padding: 0.7em;
      display: flex;
      flex-wrap: wrap; }
    .foot div ul a {
      color: #fff;
      text-decoration: none; }

@media screen and (max-width: 450px) {
  .contenedoracerca-de {
    width: 110%;
    background: linear-gradient(115deg, #d3ffd7 0%, black 100%), radial-gradient(90% 100% at 50% 0%, #c8c8c8 0%, #16002d 100%), radial-gradient(100% 100% at 80% 0%, #faff00 0%, #240000 100%), radial-gradient(150% 210% at 100% 0%, #70ff00 0%, #14af7d 0%, #000aff 100%), radial-gradient(100% 100% at 100% 30%, #ff4d00 0%, #00c8ff 100%), linear-gradient(60deg, red 0%, #7856ff 100%);
    background-blend-mode: overlay, overlay, difference, difference, difference, normal; }
  .nav5 {
    display: flex;
    flex-direction: column; }
  .nav5-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 21px 0 0 85px;
    margin: 0 50px 0 0; }
  .ul5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 55px; }
  .acerca1 {
    width: 90%;
    margin: 0 auto;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em; }
  .acercatexto {
    width: 90%;
    text-shadow: 5px 5px 10px #000;
    display: grid;
    color: #fff; }
  .acercatexto__titulo1 {
    font-size: 150%;
    padding: 0 0 5% 0; }
  .acercatexto__parrafo2 {
    line-height: 150%; }
  .acerca-img img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .acerca2 {
    width: 90%;
    margin: 0 auto;
    padding: 10% 0 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7em; }
  .acercatexto2 {
    width: 90%;
    display: grid;
    color: #fff; }
  .acercatexto__titulo3 {
    font-size: 158%;
    padding: 0 0 5% 0; }
  .acercatexto__parrafo4 {
    line-height: 150%; }
  .acerca-img2 img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .foot {
    display: flex;
    justify-content: center; }
    .foot div ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 20px 0 0 0; }
      .foot div ul li {
        padding: 0.7em;
        display: flex;
        flex-wrap: wrap; }
      .foot div ul a {
        color: #fff;
        text-decoration: none; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #252422;
  font-family: 'Barlow', sans-serif; }
